<h1>About</h1>
<h2>Overview</h2>
<div>
    <p>
        This tool provides a user interface to help users to obtain and interact with data 
        about the Murray-Darling Basin regarding the Environmental Water Requirements (EWR) 
        that support the goals of Long Term Water Plans (LTWPs) across the basin ecosystem. 
        <br/>
        <br/>
        This tools allows users to search for 
        <a target="_blank" href="https://riverdata.mdba.gov.au/map">gauge measurement data</a> 
        collected across the Murray-Darling Basin, in addition to 
        <a target="_blank" href="https://www.mdba.gov.au/water-management/water-resource-modelling/types-water-modelling">scenario modelling</a> 
        outputs submitted in the Bigmod (MDBA), Source (NSW), and IQQM (NSW) CSV file formats. 
        The core features of this tool are powered by the 
        <a target="_blank" href="https://github.com/MDBAuth/EWR_tool">MDBA EWR Tool</a>. 
        <br/>
        <br/>
        Please refer to the <a target="_blank" href="https://www.mdba.gov.au/climate-and-river-health/water-environment">MDBA "Water for the environment"</a> 
        page and other resources at the <a target="_blank" href="https://www.mdba.gov.au/">MDBA</a> for more information.
        <br/>
        <br/>
    </p>
</div>
<h2>Useful Definitions</h2>

<img src="{{ url_for('static', filename='img/mdba-ewr-category-viz.png') }}" />
<br/>
<div id="ewr_table_output_dfn" class="table-wrapper">
    Inter Events Table should appear here
</div>
<br/>
<h2>EWR Descriptions</h2>
<div id="ewr_table_output_desc" class="table-wrapper">
    Inter Events Table should appear here
</div>
<br/>


<script>
    $(document).ready(function () {

        $.post(
            "/definition_tables"
        )
        .done(function (data) {   
            
            console.log("Data type is: " + typeof(data));

            console.log(data); 

            if(typeof(data) == "string"){
                data = JSON.parse(data);
            }

            console.log("Data type is: " + typeof(data));
            
            console.log(data);            

            // define table ID vars
            const table_ewr_definitions = "table-ewr-dfn";
            const table_ewr_descriptions = "table-ewr-desc";
            
            // populate definition table
            $("#ewr_table_output_dfn").html(
                createTableHTML(
                    json_data=data["table_definitions"], 
                    table_id=table_ewr_definitions
                )
            );
            $('#'+ table_ewr_definitions).DataTable({
                orderCellsTop: false,
                fixedHeader: true
            })

            // populate description table
            $("#ewr_table_output_desc").html(
                createTableHTML(
                    json_data=data["table_descriptions"], 
                    table_id=table_ewr_descriptions)
            );
            convertHTMLTableToDataTableFiltered(table_id=table_ewr_descriptions);

        })
        .fail(function(e) {
            console.log("error encountered");
            console.log(e.status);
            console.log(e.responseText);
        })
        .always(function() {
            
        });

});

</script>
