<h2>About</h2>

<div>
    <p>
        This tool provides a user interface to help users to obtain and interact with data 
        about the Murray-Darling Basin regarding the Environmental Water Requirements (EWR) 
        that support the goals of Long Term Water Plans (LTWPs) across the basin ecosystem. 
        <br/>
        <br/>
        This tools allows users to search for 
        <a target="_blank" href="https://riverdata.mdba.gov.au/map">gauge measurement data</a> 
        collected across the Murray-Darling Basin, in addition to 
        <a target="_blank" href="https://www.mdba.gov.au/water-management/water-resource-modelling/types-water-modelling">scenario modelling</a> 
        outputs submitted in the Bigmod (MDBA), Source (NSW), and IQQM (NSW) CSV file formats. 
        The core features of this tool are powered by the 
        <a target="_blank" href="https://github.com/MDBAuth/EWR_tool">MDBA EWR Tool</a>. 
        <br/>
        <br/>
        Please refer to the <a target="_blank" href="https://www.mdba.gov.au/climate-and-river-health/water-environment">MDBA "Water for the environment"</a> 
        page and other resources at the <a target="_blank" href="https://www.mdba.gov.au/">MDBA</a> for more information.
        <br/>
        <br/>
    </p>
</div>
