<h2>Gauge Analysis</h2>
<div>
    <div style="margin: 30px;">
        <form id="gauge-form"> 
            <label for="fname">Search Gauge list:</label><br>
            <input type="text" id="gauge-list-input" name="gauge_list" 
                default="enter guage list here"
                style="width: 100%;"
            >            
            <br/>
            <p>
                Start Date: <input type="text" id="startdatepicker"> 
                End Date: <input type="text" id="enddatepicker">
            </p>
            <br/>
            <input type="submit" value="Submit">
        </form>
    </div>
    
    <div class="tabs"> <!-- https://jqueryui.com/tabs/ -->
        <ul>
          <li><a href="#tab_gauge_events">Events</a></li>
          <li><a href="#tab_gauge_interevents">Inter Events</a></li>
        </ul>
        <div id="tab_gauge_events">

            <h2>Events Data</h2>

            <div class="tabs"> <!-- https://jqueryui.com/tabs/ -->
                <ul>
                  <li><a href="#tab_gauge_events_chart">Chart View</a></li>
                  <li><a href="#tab_gauge_events_table">Table View</a></li>
                </ul>
                <div id="tab_gauge_events_chart">
                    <h2>Time Series</h2>
                    <div id="gauge_events_graph_output_ts" class="table-wrapper"></div>
                    <br/>
                    <h2>Bar Chart</h2>
                    <div id="gauge_events_graph_output_bar" class="table-wrapper"></div>
                    <br/>
                </div>
                <div id="tab_gauge_events_table">
                    <h2>Tabular Data</h2>
                    <div id="gauge_events_table_output" class="table-wrapper">
                        Events Table should appear here
                    </div>
                </div>
            </div>            

        </div>
        <div id="tab_gauge_interevents">

            <h2>Inter Events Data</h2>

            <div class="tabs"> <!-- https://jqueryui.com/tabs/ -->
                <ul>
                  <li><a href="#tab_gauge_interevents_chart">Chart View</a></li>
                  <li><a href="#tab_gauge_interevents_table">Table View</a></li>
                </ul>
                <div id="tab_gauge_interevents_chart">
                    <h2>Time Series</h2>
                    <div id="gauge_interevents_graph_output_ts" class="table-wrapper"></div>
                    <br/>
                    <h2>Bar Chart</h2>
                    <div id="gauge_interevents_graph_output_bar" class="table-wrapper"></div>
                    <br/>
                </div>
                <div id="tab_gauge_interevents_table">
                    <h2>Tabular Data</h2>
                    <div id="gauge_interevents_table_output" class="table-wrapper">
                        Inter Events Table should appear here
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>