<h2>Scenario Analysis</h2>
<div>
    <div style="margin: 30px;">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file -->
        <form id="scenario-form" method="post" enctype="multipart/form-data" 
            action="{{ url_for('analyse_scenario_files') }}">
            <div>
                <label for="file">Choose file to upload<br/>(CTRL + Click to select multiple files)</label>
                <br/>
                <br/>
                <input type="file" accept=".csv" id="file_uploader" name="file" multiple />
                <br/>
                <ul id="file-list"></ul>
                <br/>
                <label for="scenario_name">Scenario Name:</label><br>
                <input type="text" id="scenario-name" name="scenario_name" 
                    value="Scenario 1"
                >
                <br/>
                <br/>
                <input type="submit" value="Submit">
            </div>
        </form>          
    </div>

    <!-- New Tabs -->
    <div style="width: 100%; border: thick double">
        <br/>
        <label for="scenario_result_name" style="margin-right: 0px 10px 0px 10px;">
            Scenario:
        </label>
        <input 
            type="textbox" name="scenario_result_name" 
            id="label_scenario_name"
            value="Scenario_Name" readonly
        ></input>
        <br/>
        <br/>
    </div>
    <div class="tabs"> <!-- https://jqueryui.com/tabs/ -->
        <ul>
          <li><a href="#tab_scenario_ewr_results">EWR Results</a></li>
          <li><a href="#tab_scenario_ewr_yearly_results">EWR Yearly Results</a></li>
          <li><a href="#tab_scenario_events">Events</a></li>
          <li><a href="#tab_scenario_interevents">Inter Events</a></li>
          <li><a href="#tab_scenario_successful_events">All Successful Events</a></li>
          <li><a href="#tab_scenario_successful_interevents">All Successful Inter Events</a></li>                    
        </ul>
        <div id="tab_scenario_ewr_results">
            <div id="output_table_scenario_ewr_results" class="table-wrapper">
                Table should appear here
            </div>
        </div>
        <div id="tab_scenario_ewr_yearly_results">
            <div id="output_table_scenario_ewr_yearly_results" class="table-wrapper">
                Table should appear here
            </div>
        </div>
        <div id="tab_scenario_events">
            <div id="output_table_scenario_events" class="table-wrapper">
                Table should appear here
            </div>
        </div>
        <div id="tab_scenario_interevents">
            <div id="output_table_scenario_interevents" class="table-wrapper">
                Table should appear here
            </div>
        </div>
        <div id="tab_scenario_successful_events">
            <div id="output_table_scenario_successful_events" class="table-wrapper">
                Table should appear here
            </div>
        </div>
        <div id="tab_scenario_successful_interevents">
            <div id="output_table_scenario_successful_interevents" class="table-wrapper">
                Table should appear here
            </div>
        </div>
    </div>

</div>