<h2>Scenario Analysis</h2>
<div>
    <div style="margin: 30px;">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file -->
        <form id="scenario-form" method="post" enctype="multipart/form-data" 
            action="{{ url_for('analyse_scenario_files') }}">
            <div>
                <label for="file">Choose file to upload<br/>(CTRL + Click to select multiple files)</label>
                <br/>
                <br/>
                <input type="file" accept=".csv" id="file_uploader" name="file" multiple />
                <br/>
                <ul id="file-list"></ul>
                <br/>
                <label for="scenario_name">Scenario Name:</label><br>
                <input type="text" id="scenario-name" name="scenario_name" 
                    value="Scenario 1"
                >
                <br/>
                <br/>
                <button>Submit</button>
            </div>
        </form>          
    </div>

    <div class="tabs"> <!-- https://jqueryui.com/tabs/ -->
        <ul>
          <li><a href="#tab_scenario_events">Events</a></li>
          <li><a href="#tab_scenario_interevents">Inter Events</a></li>
        </ul>
        <div id="tab_scenario_events">
            <h2>Events Data</h2>
            <div id="scenario_table_output_01">Events Table should appear here</div>
        </div>
        <div id="tab_scenario_interevents">
            <h2>Inter Events Data</h2>
            <div id="scenario_table_output_02">Inter Events Table should appear here</div>
        </div>
    </div>

</div>