.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.vscode
.deployment

# python virtual env
.env
.flaskenv
.venv
__pycache__/

# project related folders
docs/
data/

# Flask app related stuff
.DS_Store
instance/
